# Valores principais
NOME_DA_ESCOLA={{NOME_DA_ESCOLA}}
LOGO_URL={{LOGO_URL}}
CIDADE_UF={{CIDADE/UF}}
ANO_LETIVO={{ANO_LETIVO}}
REGRAS_EMPRESTIMO_ALUNO={{REGRAS_EMPRESTIMO_ALUNO}}
REGRAS_EMPRESTIMO_PROFESSOR={{REGRAS_EMPRESTIMO_PROFESSOR}}

# Banco de dados
DATABASE_URL=postgresql://postgres:postgres@db:5432/sistemaescola?schema=public

# Autenticação
JWT_ACCESS_SECRET=change-me-access
JWT_REFRESH_SECRET=change-me-refresh
WEB_APP_URL=http://localhost:3000

# Email / Notificações
SMTP_HOST=smtp.mailtrap.io
SMTP_PORT=2525
SMTP_USER=demo
SMTP_PASSWORD=demo
